:root {
    --primary-background: #1976d2;
    --primary-title: #1976d2;
    --primary-color: #ffffff;
    --primary-hover: #0e5092;
    --primary-active: #0b2a48;

    --secondary-title: rgb(0, 58, 120);
    --secondary-active: #006c1d;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    h2, .title {
        color: var(--primary-title);
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    .title-secondary {
        color: var(--primary-title);
        margin-bottom: 1rem;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
       color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
